## CAC (Customer Acquisition Cost)

In [18]:
import pandas as pd

In [19]:
monthly_expenses_gs_id = '10OGbaywwMIqKgnPGy8VDvpBVtjyqln47iYa2lFhI9Mw'
monthly_expenses_full_url = f'https://docs.google.com/spreadsheets/d/{monthly_expenses_gs_id}/export?format=xlsx'
monthly_expenses_df = pd.read_excel(monthly_expenses_full_url,sheet_name='Sheet1')

In [20]:
# Filter last month data
max_month_expenses = monthly_expenses_df['month'].max()
last_month_expenses_df = monthly_expenses_df[monthly_expenses_df['month'] == max_month_expenses]
last_month_expenses_df.head()

     #      month           category                  item  amount
18  19 2023-03-01       Server Costs           AWS Hosting    8400
19  20 2023-03-01       Server Costs  Google Cloud Storage    4400
20  21 2023-03-01  Software Licenses        Atlassian Jira    1400
21  22 2023-03-01  Software Licenses                 Slack     900
22  23 2023-03-01  Software Licenses            Salesforce    1700

In [21]:
last_month_expenses_df['item'].unique()

array(['AWS Hosting', 'Google Cloud Storage', 'Atlassian Jira', 'Slack',
       'Salesforce', 'Zoom', 'Office Rent', 'Office Supplies',
       'Travel Expenses'], dtype=object)

In [22]:
crm_cost = last_month_expenses_df[last_month_expenses_df['item'] == 'Salesforce']['amount'].values[0]

crm_cost

np.int64(1700)

## 1.2 Salaries

In [23]:
payroll_gs_id = '1c_WihqTZCQvNgxzmd-OwhR9i5diwtfxXVLyMn8R-Lp4'
payroll_full_url = f'https://docs.google.com/spreadsheets/d/{payroll_gs_id}/export?format=xlsx'

salary_df = pd.read_excel(payroll_full_url, sheet_name='Sheet1')
salary_df.head()

       month department  employee_name           position  paid
0 2023-01-01      Sales       John Doe      Sales Manager  1500
1 2023-01-01      Sales     Jane Smith    Sales Associate   600
2 2023-01-01      Sales      Jim Brown    Sales Associate   700
3 2023-01-01      Sales   Laura Miller    Sales Associate   800
4 2023-01-01  Marketing  Alice Johnson  Marketing Manager  1650

In [24]:
# Last month
last_month_payroll_df = salary_df[salary_df['month'] == max_month_expenses]
last_month_payroll_df.head()

        month department  employee_name           position  paid
34 2023-03-01      Sales       John Doe      Sales Manager  1500
35 2023-03-01      Sales     Jane Smith    Sales Associate   600
36 2023-03-01      Sales      Jim Brown    Sales Associate   700
37 2023-03-01      Sales   Laura Miller    Sales Associate   800
38 2023-03-01  Marketing  Alice Johnson  Marketing Manager  1650

In [25]:
last_month_sales_marketing_payroll_expenses = last_month_payroll_df[last_month_payroll_df['department'].isin(['Sales', 'Marketing'])]['paid'].sum()

last_month_sales_marketing_payroll_expenses

np.int64(5950)

## 1.3 Marketing Spending

In [26]:
# Load data
marketing_gs_id = '1AZOIThOV4P-0eYDge53ZwumVkfkHoYPWxst3k3Bv87c'
marketing_full_url = f'https://docs.google.com/spreadsheets/d/{marketing_gs_id}/export?format=xlsx'

marketing_df = pd.read_excel(marketing_full_url, sheet_name='Sheet1')
marketing_df

          date       channel  spending
0   2023-01-01    Google Ads       784
1   2023-01-01  Facebook Ads       659
2   2023-01-01  LinkedIn Ads       729
3   2023-01-01   Twitter Ads       292
4   2023-01-02    Google Ads       935
..         ...           ...       ...
355 2023-03-30   Twitter Ads       960
356 2023-03-31    Google Ads       143
357 2023-03-31  Facebook Ads       183
358 2023-03-31  LinkedIn Ads       533
359 2023-03-31   Twitter Ads       909

[360 rows x 3 columns]

In [27]:
target_month = max_month_expenses.to_period('M')
target_month

Period('2023-03', 'M')

In [28]:
market_spending_cost = marketing_df[marketing_df['date'].dt.to_period('M') == target_month]['spending'].sum()

In [29]:
total_sales_mrkt_expenses = crm_cost + last_month_sales_marketing_payroll_expenses + market_spending_cost
total_sales_mrkt_expenses

np.int64(76480)

## Number of customers

In [30]:
# Load customer data
receipts_gs_id = '1qayqML1zCKdmtzutkcy9LWvE6xFRm6TGBEVkHHJKIuE'
receipts_full_url = f'https://docs.google.com/spreadsheets/d/{receipts_gs_id}/export?format=xlsx'

receipts_df = pd.read_excel(receipts_full_url, sheet_name='Sheet1')
receipts_df

          date  customer_id  receipt_amount  new_customer
0   2023-01-01         2653              67             1
1   2023-01-01         2731             271             1
2   2023-01-01         1277             231             0
3   2023-01-01         2094             107             0
4   2023-01-01         1314             416             0
..         ...          ...             ...           ...
924 2023-03-31         2079             358             0
925 2023-03-31         2089             375             0
926 2023-03-31         1355             249             0
927 2023-03-31         1062             111             0
928 2023-03-31         1590             271             0

[929 rows x 4 columns]

In [31]:
last_month_receipts_df = receipts_df[receipts_df['date'].dt.to_period('M') == target_month]
last_month_receipts_df

          date  customer_id  receipt_amount  new_customer
618 2023-03-01         1062             103             0
619 2023-03-01         2243             157             0
620 2023-03-01         1166             372             0
621 2023-03-01         2406             426             1
622 2023-03-01         2761              41             1
..         ...          ...             ...           ...
924 2023-03-31         2079             358             0
925 2023-03-31         2089             375             0
926 2023-03-31         1355             249             0
927 2023-03-31         1062             111             0
928 2023-03-31         1590             271             0

[311 rows x 4 columns]

In [32]:
# Get last month data
new_customers_df = last_month_receipts_df[last_month_receipts_df['new_customer'] == 1]
new_customers_df

          date  customer_id  receipt_amount  new_customer
621 2023-03-01         2406             426             1
622 2023-03-01         2761              41             1
625 2023-03-01         2844             252             1
627 2023-03-01         2679             323             1
633 2023-03-02         1475              40             1
..         ...          ...             ...           ...
912 2023-03-29         1746             262             1
913 2023-03-29         2269             484             1
914 2023-03-29         2935             478             1
919 2023-03-29         1297             496             1
920 2023-03-30         2151             482             1

[63 rows x 4 columns]

In [33]:
number_of_new_customers = new_customers_df['new_customer'].sum()
number_of_new_customers

np.int64(63)

## 1.5 Final : Calculating CAC

In [34]:
CAC = total_sales_mrkt_expenses / number_of_new_customers
CAC

np.float64(1213.968253968254)

## 2. ARPU ( Average revenue per user)

**2.1 Total Revenue**

In [35]:
total_revenue = last_month_receipts_df['receipt_amount'].sum()
total_revenue

np.int64(83033)

**2.2 Number of users**

In [36]:
num_users = len(last_month_receipts_df['customer_id'].unique())
num_users

292

**2.3 Calculating ARPU**

In [37]:
ARPU = total_revenue / num_users
ARPU

np.float64(284.3595890410959)

## 3. COGS (Cost of Goods Sold)

In [38]:
# Purchase during period for SaaS including Server Costs + 	Software Licenses + salary of employees directly involved in the SaaS
last_month_expenses_df

     #      month           category                  item  amount
18  19 2023-03-01       Server Costs           AWS Hosting    8400
19  20 2023-03-01       Server Costs  Google Cloud Storage    4400
20  21 2023-03-01  Software Licenses        Atlassian Jira    1400
21  22 2023-03-01  Software Licenses                 Slack     900
22  23 2023-03-01  Software Licenses            Salesforce    1700
23  24 2023-03-01  Software Licenses                  Zoom     540
24  25 2023-03-01      Office Rental           Office Rent   10000
25  26 2023-03-01              Other       Office Supplies     600
26  27 2023-03-01              Other       Travel Expenses    3200

In [39]:
last_month_expenses_df[last_month_expenses_df['category'].isin(['Software Licenses', 'Server Costs'])]

     #      month           category                  item  amount
18  19 2023-03-01       Server Costs           AWS Hosting    8400
19  20 2023-03-01       Server Costs  Google Cloud Storage    4400
20  21 2023-03-01  Software Licenses        Atlassian Jira    1400
21  22 2023-03-01  Software Licenses                 Slack     900
22  23 2023-03-01  Software Licenses            Salesforce    1700
23  24 2023-03-01  Software Licenses                  Zoom     540

In [40]:
items = ['AWS Hosting', 'Google Cloud Storage', 'Atlassian Jira']
shared_items = ['Slack', 'Zoom']

item_expense = last_month_expenses_df[last_month_expenses_df['item'].isin(items)]['amount'].sum()

shared_items_expenses = last_month_expenses_df[last_month_expenses_df['item'].isin(shared_items)]['amount'].sum()

server_n_software_expense = item_expense + shared_items_expenses * 0.6
server_n_software_expense

np.float64(15064.0)

In [41]:
production_salaries = last_month_payroll_df[last_month_payroll_df['department'] == 'Engineering']['paid'].sum()
production_salaries

np.int64(5200)

In [42]:
COGS = production_salaries + server_n_software_expense
COGS

np.float64(20264.0)

## 4. Gross Margin

In [43]:
gross_margin = (total_revenue - COGS) / total_revenue * 100
gross_margin

np.float64(75.5952452639312)

## 5. LTV (Customer lifetime value)

In [44]:
# Load data
customer_lspan_gs_id = '1by8tPHwOnq3uKYK2E7sA9VBUYoPM4p1Rnrm_Ss9cyHI'
customer_lspan_full_url = f'https://docs.google.com/spreadsheets/d/{customer_lspan_gs_id}/export?format=xlsx'

lifespan_df = pd.read_excel(customer_lspan_full_url, sheet_name='Sheet1')
lifespan_df

    Unnamed: 0 start_date churn_date
0         1000 2021-11-15 2022-09-14
1         1001 2022-04-15 2023-02-16
2         1002 2022-10-30 2023-02-04
3         1003 2021-08-22 2023-02-07
4         1004 2021-08-23 2022-02-02
..         ...        ...        ...
95        1095 2023-01-09 2023-02-28
96        1096 2020-07-08 2020-08-09
97        1097 2020-10-18 2022-05-08
98        1098 2020-06-17 2022-06-13
99        1099 2020-06-25 2023-02-12

[100 rows x 3 columns]

In [45]:
lifespan_df['lifespan_days'] = (lifespan_df['churn_date'] - lifespan_df['start_date']).dt.days
lifespan_df

    Unnamed: 0 start_date churn_date  lifespan_days
0         1000 2021-11-15 2022-09-14            303
1         1001 2022-04-15 2023-02-16            307
2         1002 2022-10-30 2023-02-04             97
3         1003 2021-08-22 2023-02-07            534
4         1004 2021-08-23 2022-02-02            163
..         ...        ...        ...            ...
95        1095 2023-01-09 2023-02-28             50
96        1096 2020-07-08 2020-08-09             32
97        1097 2020-10-18 2022-05-08            567
98        1098 2020-06-17 2022-06-13            726
99        1099 2020-06-25 2023-02-12            962

[100 rows x 4 columns]

In [46]:
avg_lifespan_days = lifespan_df['lifespan_days'].mean()
avg_lifespan_days

np.float64(295.24)

In [47]:
avg_lifespan_months = avg_lifespan_days / 30
avg_lifespan_months

np.float64(9.841333333333333)

In [48]:
LTV = avg_lifespan_months * ARPU * (gross_margin / 100)
LTV

np.float64(2115.515931506849)

## LTV / CAC

In [49]:
LTV_CAC_ratio = LTV / CAC
LTV_CAC_ratio

np.float64(1.742645184164899)

# Business Analysis: Unit Economics Summary & Recommendations

## Executive Summary

In [55]:
# Display all key metrics
print("=== UNIT ECONOMICS SUMMARY ===")
print(f"Customer Acquisition Cost (CAC): ${CAC:,.2f}")
print(f"Average Revenue Per User (ARPU): ${ARPU:,.2f}")
print(f"Cost of Goods Sold (COGS): ${COGS:,.2f}")
print(f"Gross Margin: {gross_margin:.2f}%")
print(f"Customer Lifetime Value (LTV): ${LTV:,.2f}")
print(f"LTV/CAC Ratio: {LTV_CAC_ratio:.2f}x")
print("\n=== ADDITIONAL METRICS ===")
print(f"Total Revenue (Last Month): ${total_revenue:,.2f}")
print(f"Number of Active Users: {num_users:,}")
print(f"Number of New Customers: {number_of_new_customers:,}")
print(f"Average Customer Lifespan: {avg_lifespan_months:.2f} months")

=== UNIT ECONOMICS SUMMARY ===
Customer Acquisition Cost (CAC): $1,213.97
Average Revenue Per User (ARPU): $284.36
Cost of Goods Sold (COGS): $20,264.00
Gross Margin: 75.60%
Customer Lifetime Value (LTV): $2,115.52
LTV/CAC Ratio: 1.74x

=== ADDITIONAL METRICS ===
Total Revenue (Last Month): $83,033.00
Number of Active Users: 292
Number of New Customers: 63
Average Customer Lifespan: 9.84 months

## Key Findings & Business Health Assessment

###  LTV/CAC Ratio Analysis
The LTV/CAC ratio is one of the most critical metrics for businesses:
- **Benchmark Standards:**
  - < 1.0x: Unsustainable (losing money on each customer)
  - 1.0x - 3.0x: Concerning (low profitability)
  - 3.0x - 5.0x: Good (healthy unit economics)
  - -> 5.0x: Excellent (very profitable)

###  Gross Margin Analysis
SaaS companies typically target:
- **70%+**: Excellent (world-class SaaS margins)
- **60-70%**: Good (healthy SaaS business)
- **40-60%**: Acceptable (room for improvement)
- **< 40%**: Concerning (high cost structure)

###  Customer Economics
- **ARPU**: Indicates pricing power and customer value
- **CAC**: Shows efficiency of sales & marketing efforts
- **Customer Lifespan**: Directly impacts LTV and business sustainability

##  Strategic Recommendations

### Immediate Actions (0-3 months)

#### 1. **Optimize Customer Acquisition**
- **If CAC is high**: Review marketing channel effectiveness and focus on highest-converting channels
- **If LTV/CAC < 3.0x**: Implement more cost-effective acquisition strategies
- **Action Items**:
  - Analyze marketing spend by channel and ROI
  - A/B test landing pages and sales funnels
  - Improve lead qualification processes

#### 2. **Revenue Optimization**
- **If ARPU is low**: Consider pricing strategy adjustments or upselling opportunities
- **Action Items**:
  - Conduct pricing analysis vs. competitors
  - Implement usage-based pricing tiers
  - Develop customer success programs to drive expansion revenue

#### 3. **Cost Structure Review**
- **If Gross Margin < 60%**: Focus on operational efficiency
- **Action Items**:
  - Optimize server costs through better resource management
  - Review software licensing for unused tools
  - Automate manual processes to reduce labor costs

### Medium-term Strategy (3-12 months)

#### 4. **Customer Retention & Expansion**
- **If customer lifespan is short**: Improve product stickiness and customer success
- **Action Items**:
  - Implement comprehensive onboarding programs
  - Develop customer health scoring
  - Create expansion revenue opportunities (upsells, cross-sells)

#### 5. **Product Development**
- **Focus on features that increase LTV**:
  - Analyze feature usage vs. customer retention
  - Develop integrations that increase switching costs
  - Build enterprise features for higher-tier customers

### Long-term Strategic Focus (1+ years)

#### 6. **Scale Efficiency**
- **Improve unit economics at scale**:
  - Invest in automation and self-service capabilities
  - Develop partner/channel programs
  - Build platform capabilities for ecosystem growth

##  Monitoring & Next Steps

### Key Performance Indicators to Track Monthly

1. **LTV/CAC Ratio**: Target > 3.0x for sustainable growth
2. **Gross Margin**: Monitor for improvements toward 70%+
3. **Customer Churn Rate**: Track monthly and implement retention programs
4. **ARPU Growth**: Monitor pricing and expansion revenue success
5. **CAC Payback Period**: Time to recover customer acquisition investment

---

##  Final Conclusion

Based on this unit economics analysis, the company should focus on:

1. **Immediate**: Optimize the metric with the greatest improvement potential
2. **Short-term**: Implement systematic tracking and improvement processes
3. **Long-term**: Scale efficiently while maintaining healthy unit economics

**Success Criteria**: Achieve and maintain LTV/CAC > 3.0x with gross margins > 60% for sustainable, profitable growth.